# ibl.ai Platform Configuration
# replace PLATFORM with your tenant key and TOKEN with your platform api key.
DOMAIN=iblai.app
PLATFORM=your-main-platform
TOKEN=your-platform-token
VERCEL_TOKEN=your-vercel-token

# Auth interface (edit before proceeding)
AUTH_TITLE=babatunde
AUTH_LOGO=https://ibl.ai/images/iblai-logo.png
AUTH_DISPLAY_TITLE=Your Guided Path to Higher Education
AUTH_DISPLAY_DESCRIPTION=Step-by-step enrollment support and student guidance — designed to help you succeed from application to graduation.
AUTH_FOOTER_CREDIT=Powered by {{logo}}
AUTH_PRIVACY_POLICY_URL=https://ibl.ai/privacy-policy
AUTH_TERMS_OF_USE_URL=https://ibl.ai/terms-of-use
AUTH_PASSWORD_ONLY=false
